body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.App {
  display: flex;
}
.ShopCart {
  width: 7%;
  height: 5%;
  float: right;
}
.sidebar {
  width: 160px;
}

.sidenav {
  height: 100%;
  width: 160px;
  border-color: coral;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav a {
  padding: 40px 8px 6px 16px;
  text-decoration: none;
  border-top-color: #ff4d7d;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#sideElm {
  border-color: coral;
}
/* USER HOME PAGE */
.customBuilderEnter {
  /* display: flex; */
  align-content: center;
  align-items: center;
  text-align: center;
}

.button5 {
  background: #3498db;
  width: 180px;
  padding: 8px;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
}

.button5:hover {
  cursor: pointer;
}

.button5:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 50%;
  background-color: darken(black, 20%);
  opacity: 0.4;
  bottom: -30px;
}

.lengthComp {
  display: flex;
  padding-left: 10%;
}
.lengthArticle {
  flex-direction: row;
}

.articleheader {
  align-content: center;
  align-items: center;
  text-align: center;
}

.lengthChoices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.lengthForm {
  flex-wrap: wrap;
}
.articleheader {
  background-color: orange;
  color: #fff;
  padding: 30.5px;
  position: relative;
  flex-shrink: 0;
}
.builder-next {
  background-color: grey;
  position: relative;
  float: right;
  bottom: 0;
  flex-shrink: 0;
  letter-spacing: 1px;
}

.patch-cable {
  flex-direction: row;
}

.inactive {
  width: 200px;
  height: 200px;
}

.lengthForm {
  padding: 15%;
}

.footer {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 1em;
}

form button {
  color: white;
  background-color: #59a9e9;
}

form button:hover {
  background-color: #59a9c2;
}

form button:disabled {
  background-color: red;
}

/* CABLE COMP */

.cableComp {
  display: flex;
  padding-left: 10%;
}
.tourhardDIV {
  display: flex;
}
.cablesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.singleCableDiv {
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #edf2f4;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  width: 10rem;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.cableTypeTitle {
  border-bottom: 5px solid indigo;
}
